@import "@fontsource-variable/inter";
@import "@fontsource-variable/geist-mono";
@import "tailwindcss";

@source "../../packages/ui/components/**/*.tsx";
@source "./*.tsx";

@import "../../packages/ui/theme.css";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter Variable", system-ui, sans-serif;
}
